.ui.steps:after{
    width: 21em;
    white-space: normal;
}

.robera-tooltip {
    font-weight: 900;
    font-size: 1.1rem;
}

.robera-tooltip::after{
    width: 21em;
    white-space: normal !important;
}

#robera-desc{
    color: gray;
    margin-bottom: 0.5em;
}

@font-face {
    src: url("IRANSansWeb.woff");
    font-family: rbr-font-family;
}